<div>
    <div class="right"><button (click)="logout()">Log Out</button></div>
    <button [routerLink]="['/questions']">Show Questions</button>
    <button [routerLink]="['/questions', question._id]">Find this Question</button>
  </div>

<h3>{{ question.question }}</h3>
<h5>{{ question.description }}</h5>

  <div>
      <form (submit)="createAnswer()">
        <label> Answer </label><br>
        <div *ngIf="aNd.invalid && (aNd.dirty || aNd.touched)">
            <p *ngIf="aNd.errors.minlength && !aNd.errors.required" style="color: black;">Please provide at least five characters</p>
          </div>
          <textarea name="answer" required minlength="5" [(ngModel)]="answer.answer" id="answer" cols="40" rows="5" #aNd="ngModel"></textarea><br>
        <!-- <input type="text" name="answer" required minlength="5" [(ngModel)]="answer.answer" id="answer" #aNd="ngModel"><br> -->
        <label> Details you'd like to share </label><br>
        <textarea name="detail" [(ngModel)]="answer.detail" id="detail" cols="40" rows="5"></textarea>
        <!-- <input type="text" name="detail" [(ngModel)]="answer.detail"><br> -->
        <div *ngIf="aNd.valid">
            <input type="submit" value="Submit">
        </div>
      </form>
      <button href [routerLink]="['/questions']">Cancel</button>


  </div>