<div>
    <div class="right"><button (click)="logout()">Log Out</button></div>
    <button [routerLink]="['/questions']">Show Questions</button>
  </div>

  <!-- {{ question.question }} -->

<br>
  <div>
      <h3>Share your knowledge, provide an answer</h3>
  </div>

  <div>
      <form (submit)="createAnswer()">
        <label> Answer </label><br>
        <div *ngIf="aNd.invalid && (aNd.dirty || aNd.touched)">
            <p *ngIf="aNd.errors.minlength && !aNd.errors.required" style="color: black;">Answers must me at least 5 characters</p>
          </div>
        <input type="text" name="answer" required minlength="5" [(ngModel)]="answer.answer" id="answer" #aNd="ngModel"><br>
        <label> Details you'd like to share </label><br>
        <input type="text" name="detail" [(ngModel)]="answer.detail"><br>
        <div *ngIf="aNd.valid">
            <input type="submit" value="Submit">
        </div>
      </form>
  </div>