<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>
</head>
    <body>
        <h4>Please fill out the following survey:</h4>
        <form action="/userInfo" method="post">
            <label>Name:</label>
                <input type="text" name="name"><br>
            <label>Dojo Location:</label>
                <select name="location">
                    <option value="DC">DC</option>
                    <option value="Austin">Austin</option>
                    <option value="Chicago">Chicago</option>
                    <option value="Seattle">Seattle</option>
                    <option value="San Francisco">San Francisco</option>
                </select><br>
            <label>Favorite Language:</label>
                <select name="language">
                    <option value="JAVA">JAVA</option>
                    <option value="Python">Python</option>
                    <option value="MEAN">MEAN</option>
                    <option value="Swift">Swift</option>
                    <option value="Ruby">Ruby</option>
                </select><br>
            <label>Comment:</label><br>
                <textarea name="comment" id="" cols="30" rows="5"></textarea><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>