<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Results</title>
</head>
    <body>
        <h4>Your information:</h4>
        <p>Name: <%= userInfo.name %></p>
        <p>Location: <%= userInfo.location %></p>
        <p>Fav Language: <%= userInfo.language%></p>
        <p>Comments: <%= userInfo.comment %></p>
    </body>
</html>