<div>
  <div class="right"><button (click)="logout()">Log Out</button></div>
  <button [routerLink]="['/questions']">Show Questions</button>
</div>


<h3>Add a Question:</h3>
<form (submit)="createQuestion()">
  <label>Question:</label><br>
  <textarea name="question" [(ngModel)]="question.question" id="question" cols="40" rows="5"></textarea><br>
  <!-- <input type="text" name="question" [(ngModel)]="question.question" ><br> -->
  <label>Description: (optional)</label><br>
  <textarea name="description" [(ngModel)]="question.description" id="description" cols="40" rows="5"></textarea><br>
  <!-- <input type="text" name="description" [(ngModel)]="question.description" ><br> -->
  <input type="submit" value="Post!">
  <button href [routerLink]="['/questions']">Cancel</button>
    <div>
      <p class="error" *ngFor="let error of errors">{{error}}</p>
    </div>
</form>