<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>
    <h3>Howdy, <%= session.user_id %>!</h3>
    <a href="/logout"><button>Log Out</button></a>
</body>
</html>