<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Register</h2>
        <form action="/users" method="post">
            <label>Name:</label>
            <input type="text" name="name"><br>
            <label>Email:</label>
            <input type="text" name="email"><br>
            <label>Password</label>
            <input type="password" name="password"><br>
            <input type="submit" value="Submit"><br>
        </form>
    </div>
    <div>
        <form action="/users/authenticate" method="post">
            <h2>Log In</h2>
            <label>Email:</label>
            <input type="text" name="email"><br>
            <label>Password</label>
            <input type="password" name="password"><br>
            <input type="submit" value="Log In"><br>
        </form>
    </div>
</body>
</html>