<div class="right">
  <button (click)="logout()">Log Out</button>
</div>

<div>Howdy, {{ currentUser.name }}!</div>

<div>
    <br>
    <label>Search:</label>
    <input [(ngModel)]="searchText">
    <button [routerLink]="['/add']">Got Questions?</button>
</div>


<br>
<table border="1px">
  <tr>
    <th>Question</th>
    <th>Answers</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let question of questions | filter : searchText">
    <td>{{ question.question }}</td>
    <td>{{ question._answer.length }}</td>
      <td>
      <button [routerLink]="['/questions', question._id]">Show</button>
      <button [routerLink]="['/answers', question._id]"> Got an answer?</button>   
      </td>
  </tr>

  
</table>

