<h2>Create Product:</h2>
<form (submit)="createProduct()">
  <label>Product Title:</label><br>
  <input type="text" name="product.title" [(ngModel)]="product.title" >
  <input type="submit" value="Create Product">
</form>

<h2>Create Category:</h2>
<form (submit)="createCategory()">
  <label>Category Title:</label><br>
  <input type="text" name="category.title" [(ngModel)]="category.title" >
  <input type="submit" value="Create Category">
</form>


<h2>Join:</h2>

{{ procat | json }}
<form (submit)="createProCat()">
  <select name="procat.category" [(ngModel)]="procat.category">
    <option value="{{ cat._id }}" *ngFor="let cat of categories">{{ cat.title }}</option>
  </select>

  <select name="procat.product" [(ngModel)]="procat.product">
    <option value="{{ prod._id }}"*ngFor="let prod of products">{{ prod.title }}</option>
  </select>

  <input type="submit" value="join">
</form>
<br>
<br>
<table border="1px">
  <tr>
    <th>Category</th>
    <th>Product</th>
  </tr>
  <tr *ngFor="let procat of procats">
    <td>{{ procat.category.title }}</td>
    <td>{{ procat.product.title }}</td>
  </tr>
</table>