<h2>Create Product:</h2>
<form (submit)="createProduct()">
  <label>Product Title:</label><br>
  <input type="text" name="product.title" [(ngModel)]="product.title" >
  <input type="submit" value="Create Product">
</form>

<h2>Create Category:</h2>
<form (submit)="createCategory()">
  <label>Category Title:</label><br>
  <input type="text" name="category.title" [(ngModel)]="category.title" >
  <input type="submit" value="Create Category">
</form>


<h2>Join:</h2>
<form (submit)="createProCat()">
  <select name="procat.category">
    <!-- <option *ngfor="let item of list"></option> -->
  </select>

  <select name="procat.product">
    <!-- <option *ngfor="let item of list"></option> -->
  </select>

  <input type="submit" value="join">
</form>