<div>
  <div class="right"><button (click)="logout()">Log Out</button></div>
  <button [routerLink]="['/questions']">Show Questions</button>
  <button [routerLink]="['/answers', question._id]"> Answer this Question</button>
</div>

  <h3>{{ question.question }}</h3>
  <h5>{{ question.description }}</h5>
  <table border="1px">
    <tr>
      <th>Answer</th>
      <th>Answer Details</th>
      <th>Provided by</th>
      <th>Likes</th>
      <th>Action</th>
    </tr> 
    <tr *ngFor="let x of question._answer | orderBy:'like':true  ">
      <td>{{ x.answer }}</td>
      <td>{{ x.detail }}</td>
      <td>{{ x._user.name }}</td>
      <td>{{ x.like }}</td>
      <td><button (click)="likePost(x._id)">Like</button></td>
    </tr>

  </table>

  