<div>
  <h3>Register</h3>
  <form (submit)="createUser()">
    <label>First Name:</label>
    <input type="text" name="firstName" [(ngModel)]="newUser.firstName"><br>
    <label>Last Name:</label>
    <input type="text" name="lastName" [(ngModel)]="newUser.lastName"><br>
    <label>Email:</label>
    <input type="text" name="email" [(ngModel)]="newUser.email"><br>
    <label>Password:</label>
    <input type="text" name="password" [(ngModel)]="newUser.password"><br>
    <label>Confirm Password:</label>
    <input type="text" name="passwordConfirmation" [(ngModel)]="newUser.passwordConfirmation"><br>
    <input type="submit" value="Register">
  </form>
</div>
<div>

</div>

<div>
  <h3>Login</h3>
  <form (submit)="loginUser()">
      <label>Email:</label>
      <input type="text" name="email" [(ngModel)]="userLoggedIn.email"><br>
      <label>Password:</label>
      <input type="text" name="password" [(ngModel)]="userLoggedIn.password"><br>
      <input type="submit" value="Login">
  </form>
</div>
<div>
  <p *ngFor="let error of loginErrors">{{ error }}</p>
</div>